<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Server" value="https://ciapi.cityindex.com/TradingApi" />
		<add key="StreamingServer" value="https://push.cityindex.com" />
		<add key="ApiKey" value="Test-app" />
		<add key="UserName" value="DM229180" />
		<add key="Password" value="w3bmonkey" />
		 <!-- EURUSD 400616150 -->
		<add key="MarketId" value="400616150" />
	</appSettings>
</configuration>
