<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Server" value="https://ciapipreprod.cityindextest9.co.uk/TradingApi" />
		<add key="StreamingServer" value="https://pushpreprod.cityindextest9.co.uk" />
		<add key="ApiKey" value="Test-app" />
		<add key="UserName" value="DM229180" />
		<add key="Password" value="password" />
		 <!-- EURUSD 400616150 -->
		<add key="MarketId" value="400616150" />
	</appSettings>
</configuration>
